# Build Files
project1/
project2/db_project/build/
project2/db_project/.cache/
project2/db_project/.clang-format
project3/db_project/build/
project3/db_project/.cache/
project3/db_project/.clang-format
project4/build/
project4/.cache/
project4/.clang-format
project5/db_project/build/
project5/db_project/.cache/
project5/db_project/.clang-format
project6/db_project/build/
project6/db_project/.cache/
project6/db_project/.clang-format
project6_sample_test/
