# Build Files
project2/db_project/build/
project2/db_project/.cache/
project2/db_project/.clang-format
project3/db_project/build/
project3/db_project/.cache/
project3/db_project/.clang-format
project4/db_project/build/
project4/db_project/.cache/
project4/db_project/.clang-format
